<h1><%= @composer.full_name %></h1>


<img src="<%= @composer.image_url %>" class="img-fluid" alt="Responsive image" width="200", height="200">
<h2><strong><%= @composer.nationality %></strong></h2>
<h2><strong><%= @composer.date_of_birth %></strong></h2>
<h2><strong><%= @composer.place_of_birth %></strong></h2>
<h2><strong><%= @composer.date_of_death %></strong></h2>
<h2><strong><%= @composer.place_of_death %></strong></h2>
<h2><strong><%= @composer.era %></strong></h2>

<!--:nationality => “Austrian”,-->
<!--:date_of_birth => Date.new(1756, 1, 27),-->
<!--:place_of_birth => "Salzburg, Austria",-->
<!--:date_of_death => Date.new(1791, 12, 5),-->
<!--:place_of_death => "Vienna, Austria”,-->
<!--:era => "classicism",-->
<!--:image_url => "https://upload.wikimedia.org/wikipedia/commons/1/1e/Wolfgang-amadeus-mozart_1.jpg").save-->
